@charset "UTF-8";

/*헤더*/
.header{ }
.header .header-menu {	text-align: right; }
.header .header-menu a{
	color: black;
	padding: 10px 0px 10px 13px; /*인라인 구조이기 때문에 왼오른쪽만 패딩이 먹힌다*/
	display: inline-block; /*인라인 성질을 가지면서 블록구조로 바꿔주기 => 왼오위아래 패딩 다 먹힘*/
}
.header .header-menu a:hover { color: #666; }
.header .header-tit { text-align: center; }
.header .header-tit h1{
	font: bold 40px 'arial';
	letter-spacing: 2px;
	padding: 5px 20px 6px 20px;
	display: inline-block;
	color: black;
	margin-top: 15px;
	text-transform: uppercase;
}
.header .header-tit p{
	font: normal 20px 'arial';
	letter-spacing: 3px;
	display: inline-block;
	color: black;
	padding: 5px 20px 6px 20px;
	margin-top: -8px;
}

